@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

table {
  border-collapse: collapse;
  /* margin: 30px auto; */
}

tbody tr:hover {
  background-color: rgba(4, 169, 245, 0.1);
}

tr {
  border-bottom: 1px solid #ddd;
  /* height: 45px; */
  /* width: 170px; */
  text-align: left;
}

th {
  font-weight: bold;
}

td, th {
  /* width: 200px; */
  color: #888
}